body {
	background-color: rgb(255, 255, 255); /* color darkgrey  */
}

#please-button {
	background-color: rgb(255, 50, 0);
	width: 100px;
	height: 70px;
}

@media (max-width: 500px) {
	body {
		background: rgb(70, 70, 70);
	}
}
